body {
    text-align: center;
}
.timer{
  font-family: 'Coda', cursive;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  font-size: 1em;
  padding: 0.1em;
  margin: auto;
  border-radius: 10px;
  position: absolute;
  text-align:center;
  top: 10px;
  left: 300px;
}

.life_title{
  margin: 0.8em 0 0 0;
  font-family: 'Coda', cursive;

}
.life{
  font-family: 'Coda', cursive;
  font-size: 1em;
  padding: 0.1em;
  margin: auto;
  border-radius: 10px;
  position: absolute;
  text-align:center;
  top: 10px;
  left: 470px;
}
